body {
    background-image: url('images/amazon1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tree {
    position: absolute;
    width: 82%;
    left: 10%;
    top: 23%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.tree:hover {
    transform: scale(1.1);
}

#musicButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #BDDA6F;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.circle {
    width: 800px;
    height: 500px;
    background-color: #839958;
    border-radius: 50%;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.circle p{
    font-family: 'Cascadia Code', monospace;
    font-size: 30px;
    color: #F7F4D5;
    text-align: center;
    line-height: 1.5;
    margin: 60px;
}

.continue{
    margin-top: 25px;
    font-size: 38px;
    color: #321900;
    font-family: 'Merienda', cursive;
    text-decoration: none;
    color: #F7F4D5;
    cursor: pointer;
}

.continue:hover {
    transform: scale(1.1);
    color: #430724;
    background-color: rgb(247, 244, 213, 0.5);
    border-radius: 10px;
    padding: 5px;
}